@model ServiceFormModel

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8 col-lg-6">
			<form asp-area="Service" asp-controller="Service" method="post">
				<div class="mb-3">
					<label asp-for="Title" class="form-label">Title</label>
					<input asp-for="Title" name="Title" class="form-control" placeholder="Title...">
					<span asp-validation-for="Title" class="text-danger small"></span>
				</div>
				<div class="form-group">
					<label asp-for="Text"></label>
					<textarea asp-for="Text" name="Text" rows="8" class="form-control"placeholder="Type your text..."></textarea>
					<span asp-validation-for="Text" class="small text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ImageUrl" class="form-label">Image URL</label>
					<input asp-for="ImageUrl" name="ImageUrl" class="form-control" placeholder="Your fine URL here...">
					<span asp-validation-for="ImageUrl" class="text-danger small"></span>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary mt-3"/>
				</div>
			</form>
		</div>
	</div>
</div>

<style>
	.btn.btn-primary.mt-3 {
		padding: 13px 55px;
		margin-bottom: 1.3em;
	}
</style>