@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalSystem.Web.ViewModels.Car.CarFormModel
@{
	ViewData["Title"] = "Edit House";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CarFormPartial" model="@Model" />

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}