@model MyCarsViewModel
@{
	ViewBag.Title = "My Houses";
}
<h2 class="text-center mt-4" style="font-family:Arial">@ViewBag.Title</h2>
<hr />
<h4>My Added Cars</h4>
@if (!Model.AddedCars.Any())
{
	<h2 class="text-center fw-normal">You have no added houses yet!</h2>
}
<div class="row">
	@foreach (var house in Model.AddedCars)
	{
		@await Html.PartialAsync("~/Views/Shared/_CarPartial.cshtml", house)
	}
</div>
<hr />
<h4>My Rented Houses</h4>
@if (!Model.RentedCars.Any())
{
	<h2 class="text-center fw-normal">You have no rented houses yet!</h2>
}
<div class="row">
	@foreach (var house in Model.RentedCars)
	{
		@await Html.PartialAsync("~/Views/Shared/_CarPartial.cshtml", house)
	}
</div>