@using CarRentalSystem.Web.Infrastructure.Middlewares;
@model IEnumerable<UserViewModel>
@{
	ViewBag.Title = "All Users";
}
<h2 class="text-center fw-normal mt-4">@ViewBag.Title</h2>
<hr />
<table class="table table-hover table-striped">
	<thead class="table-dark">
		<tr>
			<th><label>Email</label></th>
			<th><label>Full Name</label></th>
			<th><label>Phone Number</label></th>
			<th><label>User Is Agent</label></th>
			<th><label>User Is Online</label></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td><label>@user.Email</label></td>
				<td><label>@user.FullName</label></td>
				<td><label>@user.PhoneNumber</label></td>
				<td>
					@if (user.PhoneNumber != string.Empty)
					{
						<i class="fa-solid fa-circle-check" style="color: #80ff80; height: 27px; margin-left: 2.4em;"></i>
					}
					else
					{
						<i class="fa-solid fa-circle-xmark" style="color: #ff0000; height: 27px; margin-left: 2.4em;"></i>
					}
				</td>
				<td>
					@if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id) || this.User.GetId()!.ToLower() == user.Id.ToLower())
					{
						<i class="fa-solid fa-circle-check" style="color: #80ff80; height: 27px; margin-left: 2.4em;"></i>
					}
					else
					{
						<i class="fa-solid fa-circle-xmark" style="color: #ff0000; height: 27px; margin-left: 2.4em;"></i>
					}
				</td>
			</tr>
		}
	</tbody>
</table>