<section class="aboutus-page-section pt-80 pb-50 overflow-hidden">
	<div class="container">
		<div class="box-2 black-1 d-flex space-between mb-40 column-reverse-p align-center ">
			<div class="font-20 w-40 w-100-p line-38 aboutus__page__text w-100">
				<h3 class="font-28 main-color mb-20">Our Mission</h3>
				<p>Our mission is to provide the best luxury car rentals and services solutions, with a focus on exclusivity for your holiday or business experience. We combine our own knowledge and experience with a large array of custom-made luxury car rental options to make the perfect match for each client. We aim to deliver an affordable service that meets and exceeds the customer’s expectations, and we are not satisfied unless the customer is satisfied. Hire your luxury car with us to be on the right track!</p>
			</div>
			<div class="box-2-imgs w-48 w-100-p mb-20-p">
				<div class="d-flex gap-20 w-100-p" full-half="" style="width: calc(100% + 321.5px);">
					<img width="40%" data-src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/about-22.jpg" class="object-fit lazyloaded" src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/about-22.jpg" loading="lazy">
					<img width="60%" data-src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/about-33.jpg" class="object-fit lazyloaded" src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/about-33.jpg" loading="lazy">
				</div>
			</div>

		</div>
		<div class="font-20 black-1 line-38 aboutus__page__text">
			<h3 class="abouttitle font-28 main-color mb-20">OUR LUXURY CARS</h3>
			<p>Whether you are planning to go on a road trip vacation, a business meeting or a romantic weekend, we’ve got the right car for you. With our fantastic variety of rental cars in Dubai, you’ll have the means to select the vehicle that perfectly suits you. Feel free to call one of our consultants to hear more about our car categories that range from exotic, prestige and muscle cars along with a great variety of car brands such as Rolls Royce, Lamborghini, Ferrari and Porsche. Choose a Ferrari 488 Spyder from our Cabriolet category, or a Mercedes G63 from our SUV section to explore DUBAI at your leisure.</p>
		</div>
	</div>
</section>

<style>
	.overflow-hidden {
		overflow: hidden;
	}

	.pb-50 {
		padding-bottom: 50px;
	}

	.pt-80 {
		padding-top: 80px;
	}

	.overflow-hidden {
		overflow: hidden;
	}

	* {
		margin: 0;
	}

	body {
		font-size: 16px;
		color: #000000;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1260px;
	}

	.black-1 {
		color: rgba(0, 0, 0, 0.74);
	}

	.black-1 {
		color: rgba(0, 0, 0, 0.74);
	}

	.mb-40 {
		margin-bottom: 40px;
	}

	.space-between {
		justify-content: space-between;
	}

	.align-center {
		align-items: center;
	}

	.d-flex {
		display: flex;
		display: -webkit-flex;
	}

	* {
		margin: 0;
		margin-bottom: 0px;
	}

	*, ::before, ::after {
		box-sizing: border-box;
	}

	body {
		font-size: 16px;
		color: #000000;
	}

	.aboutus-page-section .aboutus__page__text {
		font-size: 16px;
		line-height: 28px;
		max-height: 220px;
		overflow-y: auto;
	}

	.line-38 {
		line-height: 38px;
	}

	.w-48 {
		width: 48%;
	}

	.gap-20 {
		gap: 20px;
	}

	.d-flex {
		display: flex;
		display: -webkit-flex;
	}

	* {
		margin: 0;
	}

	.lazyloaded {
		opacity: 1;
		transition: opacity 400ms;
		transition-delay: 0s;
		transition-delay: 0ms;
	}

	.object-fit {
		object-fit: cover;
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	.font-28 {
		font-size: 28px;
	}

	.main-color {
		color: #94CA21;
	}
</style>