@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
	<div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
		<div class="d-flex justify-content-center">
			<div class="text-center">
				<h1 class="mx-auto my-0 text-uppercase">Wanderlust</h1>
				<h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the perfect car rental experience that fuels
					your wanderlust.</h2>
				<a class="btn btn-primary" asp-controller="Car" asp-action="All">Get Started</a>
			</div>
		</div>

	</div>
</header>

@{
	await Html.RenderPartialAsync("~/Views/Shared/_RentalSection.cshtml", Model);
}
<partial name="_NotificationsPartial" />