<section class="services-boxes pt-80 pb-60">
	<div class="container">
		<h2 class="section-title center mb-80">Providing Amazing Services To Our Clients</h2>
		<div class="box grid-2 grid-1-t w-80 gap-20 w-100-p m-side-auto">

			<a asp-controller="Home" asp-action="ServiceDetail" asp-route-id="" class="--item relative group">
				<figure class="d-flex overflow-hidden">
					<img width="100%" class="object-fit trans ls-is-cached lazyloaded" src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/proving.webp" loading="lazy">
				</figure>
				<p class="white bold font-35 trans color-hover text flex-all">Self Drive Car Rental</p>
				<i class="card-arrow trans fa-solid fa-arrow-right-long"></i>
			</a>

		</div>
	</div>
</section>

@section Styles {
	<link rel="stylesheet" href="~/css/service.css" asp-append-version="true"/>
}