<section class="self-drive-section pt-80 pb-50">
	<div class="container container-box">
		<!-- #box -->
		<div class="box d-flex space-between column-reverse-p align-center">

			<!-- #left -->
			<div class="left w-48 w-100-p">
				<h2 class="section-title mb-40">Long Term Rental</h2>
				<div class="font-18 mb-20 line-28 black-1 aboutus__page__text">
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>For long-term travel plans and replacement car needs, an affordable monthly rental from Luxury Supercar Rentals can be the ideal solution. The longer you choose to rent with Luxury Supercar Rentals, the cheaper the price becomes, meaning you can drive that premium rental car you’ve always wanted for a price that doesn’t exceed the budget.</p>
						</div>
					</div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper"></div>
					</div>
				</div>
			</div>
			<!-- ##left -->
			<!-- #right -->
			<div class="right relative d-flex w-48 align-self">
				<img width="100%" data-src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/long-term.webp" class="object-fit ls-is-cached lazyloaded" src="https://luxurysupercarsdubai.com/wp-content/uploads/2023/02/long-term.webp" loading="lazy">
			</div>
			<!-- ##right -->

		</div>
		<!-- ##box -->

		<div class="font-18 mb-50 line-28 black-1 aboutus__page__text"></div>

	</div>
</section>

<style>
	.pb-50 {
		padding-bottom: 50px;
	}

	.line-28 {
		line-height: 28px;
	}

	.black-1 {
		color: rgba(0, 0, 0, 0.74);
	}

	.mb-50 {
		margin-bottom: 50px;
	}

	.font-18 {
		font-size: 18px;
	}
	.pt-80 {
		padding-top: 80px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1260px;
	}

	.w-48 {
		width: 48%;
	}

	.section-title {
		font-size: 34px;
		font-family: var(--main-font-medium);
	}

	.mb-40 {
		margin-bottom: 40px;
	}

	.black-1 {
		color: rgba(0, 0, 0, 0.74);
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	*, ::before, ::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
	}

	.container-box .box {
		margin-bottom: 50px;
	}

	.space-between {
		justify-content: space-between;
	}

	.align-center {
		align-items: center;
	}

	.d-flex {
		display: flex;
		display: -webkit-flex;
	}
</style>