@model ServiceFormModel
@{
	ViewData["Title"] = "Add Service";
}

<h2 class="text-center fw-normal" style="font-family:Arial">@ViewData["Title"]</h2>
<hr />

<partial name="_ServiceFormPartial" />

<style>
	.btn.btn-primary.mt-3 {
		padding: 13px 38px;
		width: 150px;
		margin-bottom: 3em;
		letter-spacing: 0.6em;
	}
</style>

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}