.btn-sm-custom {
    font-size: 13px;
    padding: 11px 33px;
}

.btn.btn-primary.btn-sm-custom {
    margin-right: 0.3em;
}

.btn.btn-warning.btn-sm-custom.ml-2 {
    margin-right: 0.4em;
}

.btn.btn-primary.btn-sm-custom-user {
    font-size: 25px;
    padding: 11px 33px;
}

.d-flex.flex-row-user {
    margin-top: 2.9rem;
}

.d-flex.flex-row {
    margin-top: 4rem;
}

u {
    text-decoration: none;
    font-size: 42px;
    color: black;
}

p {
    font-size: 24px;
    margin-bottom: 5px;
}