<section id="rental" class="position-relative">
    <div class="container my-5 py-5">
        <h2 class=" text-center my-5">cars for <span class="text-primary"> rental </span> </h2>

        <div class="swiper-button-next rental-swiper-next rental-arrow position-absolute"></div>
        <div class="swiper-button-prev rental-swiper-prev rental-arrow position-absolute"></div>

        <div class="swiper rental-swiper mb-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car1.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">BMW x3</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car2.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">BMW M2</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car3.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">Ford explorer</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car1.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">BMW x3</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car2.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">BMW M2</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="images/car3.png" class="card-img-top" alt="...">
                        <div class="card-body p-4">
                            <h4 class="card-title">Ford explorer</h4>
                            <div class="card-text ">
                                <ul class="d-flex list-unstyled">
                                    <li class="rental-list">
                                        <p>Sports</p>
                                    </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Auto</li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> 4 Passengers </li>
                                    <li class="rental-list"> <img src="images/dot.png" class="px-3" alt=""></li>
                                    <li class="rental-list"> Diesel </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h3 class="pt-2">$369 <span class="rental-price">/day</span></h3>
                                <button class="btn btn-primary">rent now </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>