@model CarFormModel
@{
	ViewData["Title"] = "Add Car";
}

<h2 class="text-center fw-normal">@ViewData["Title"]</h2>
<hr />

<partial name="_CarFormPartial" />

<style>
	.btn.btn-primary.mt-3 {
		width: 150px;
		margin-bottom: 3em;
		letter-spacing: 0.6em;
	}
</style>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}
