<a class="btn btn-dark" data-mdb-toggle="modal" href="#exampleModalToggle1" role="button">Open first modal</a>

<!-- First modal dialog -->
<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel1" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalToggleLabel1">Contact information</h5>
				<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row mb-4">
						<div class="col">
							<div class="form-outline">
								<input type="text" id="form6Example1" class="form-control" />
								<label class="form-label" for="form6Example1">Phone number</label>
							</div>
						</div>
						<div class="col">
							<div class="form-outline">
								<input type="text" id="form6Example2" class="form-control" />
								<label class="form-label" for="form6Example2">Deposit</label>
							</div>
						</div>
					</div>
					
					<div class="form-outline mb-4">
						<input type="number" id="typeNumber" class="form-control" />
						<label class="form-label" for="typeNumber">Days</label>
					</div>

					<div class="form-outline mb-4">
						<input type="text" id="form6Example4" class="form-control" />
						<label class="form-label" for="form6Example4">Address</label>
					</div>
				</form>


			</div>
			<div class="modal-footer">
				<button class="btn btn-dark" data-mdb-target="#exampleModalToggle22" data-mdb-toggle="modal" data-mdb-dismiss="modal">
					Next
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Second modal dialog -->
<div class="modal fade" id="exampleModalToggle22" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalToggleLabel22">Payment method</h5>
				<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="height:119px">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
					<label class="form-check-label" for="inlineRadio1">BNPL</label>
				</div>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
					<label class="form-check-label" for="inlineRadio2">Credit/Debit card</label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-dark" data-mdb-target="#exampleModalToggle1" data-mdb-toggle="modal">
					Back
				</button>

				<button class="btn btn-dark">
					Finish
				</button>

			</div>
		</div>
	</div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
	  rel="stylesheet" />
<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	};
}